@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, sans-serif;
}

.heading {
  font-family: "Inter Tight", system-ui, sans-serif;
  font-weight: 700;
}
